@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(svg):not(path) {
    @apply text-color-100;
  }
}
@layer utilities {
  .digit {
    font-family: "Graduate", cursive;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vertical {
    display: flex;
    flex-direction: column;
  }
  .vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .horizontal-center {
    display: flex;
    align-items: center;
  }
  .horizontal {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-700 rounded-r-full;
}
::-webkit-scrollbar-thumb {
  @apply bg-color-100 rounded-full;
}
